{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block content %}

<h1>Поиск</h1>
<hr>
<form action="" method="get">

    {{ filterset.form.as_p }}

    <input type="submit" value="Найти" />
</form>

    {% if news_list %}
    <table>
        <thead>
            <th>
               Заголовок
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Текст
            </th>
        </thead>
    {% for news in news_list %}
        <tr>
            <td>
                {{ news.header|censor }}
            </td>
            <td>
                {{ news.pub_date|date:'d.m.Y' }}
            </td>
            <td>
                {{ news.text|truncatechars:20|censor }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

 {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1%}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number%}">{{page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number%}">{{page_obj.next_page_number}}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages%}">{{page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
