{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

<table>
    <thead>
        <th>
           Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ news.header|censor }}
        </td>
        <td>
             {{ news.pub_date|date:'d.m.Y' }}
        </td>
        <td>
            {{ news.text|censor }}
        </td>
    </tr>
</table>

{% endblock content %}