{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

    <h1>Новости</h1>
    {{ news_list|length }}
    <hr>
    {% if news_list %}
    <table>
        <thead>
            <th>
               Заголовок
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Текст
            </th>
        </thead>
    {% for news in news_list %}
        <tr>
            <td>
                {{ news.header|censor }}
            </td>
            <td>
                {{ news.pub_date|date:'d.m.Y' }}
            </td>
            <td>
                {{ news.text|truncatechars:20|censor }}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

 {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}