{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<table style="margin: 0 auto;">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th style="white-space: nowrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Дата публикации&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Текст</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ news.header|censor }}</td>
            <td> {{ news.pub_date|date:'d.m.Y' }}</td>
            <td>{{ news.text|censor }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}